*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: grey;
}

.card{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.card h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background: none;
}
.card input[type="text"],input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #3979fe;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.card input[type="text"]:focus,input[type="password"]:focus{
    width: 270px;
    background: #4363a6;
}
.card input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #eda02e;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.card input[type="submit"]:hover{
    background: #9d773d;
}